.updateAlbumModalButton {
  background:none;
  color: #E0E1DD;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 33%;
  font-size: 1em;
  border: none;
}

.updateSongFormButton {
  padding: 0.4em 0.4em;
  color: white;
  border-radius: 0.35em;
  background-color: rgb(31, 211, 8);
  background-color: rgba(117, 235, 14, 0.995);
  background-color: #0d1b2a;
  font-size: 2em;
  width: 33vw;
  width: 100%;
}
