h1,
h2 {
  color: #e0e1dd;
  margin: 0;
}

.albumSecondDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  width: 95%;

  height: 30vh;
}

.mainCarouselDiv {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  /* padding: 2.5%; */
  margin: 2.5%;
  padding-bottom: 1%;
  /* padding-bottom: 1.5%; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  /* box-shadow: #4ECCA3 10px 20px 30px ; */
  box-shadow: #232931 0px 20px 20px -10px;

}

.albumSongsListDiv {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: black;
  /* background-color: #A0D2EB; */
  /* background-color: #04293A; */
  /* background-color: #232931; */
  position: relative;

  ;


  /* opacity: .9; */
}
.albumSongsListInnerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 95%;
  margin: 2.5%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* box-shadow: #232931 0px 10px 10px 10px; */
  /* box-shadow: #4ECCA3 0px 20px 20px -10px;
  box-shadow: #4ECCA3 5px 5px 5px -5px; */


}
.albumSongsListInnerDiv::-webkit-scrollbar {
  display: none;
}

.aboveEverySongDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  /* background-color: #232931; */
  height: 3.5%;
  width: 100%;
  border-bottom: 2px solid #4ECCA3;
  opacity: .45;
  margin-bottom: 15px;
}

.aboveEverySongDiv h1 {
  font-size: 1em;
}

.aboveSongsDiv {
  width: 90%;
}
.everySongDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #232931;
  /* background-color: #000; */
  opacity: .95;
  /* background-color: white; */
  opacity: .9;
  height: 5%;
  width: 100%;
  min-height: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  box-shadow: rgb(38 57 77) 0px 25px 125px -10px;
}

.everySongDiv:hover {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #232931;
  /* background-color: #000; */
  opacity: .95;
  /* background-color: white; */
  opacity: .3;
  height: 5%;
  width: 100%;
  min-height: 20px;
}
.everySongDiv::-webkit-scrollbar {
  display: none;
}

.songNumber {
  background-color: black;
  width: 35px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  /* padding-rght: 15px; */
}

.songNumberAbove {
  display: flex;
  width: 50px;
  /* padding-rght: 15px; */
}
.everySongDivUpper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #0d1b2a;
  position: fixed;
  z-index: 1;
  height: 5%;
  margin-bottom: 10%;
  width: 100%;
}
.songDivButton {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  background-color: black;
  /* font-size: 3.5vh; */
  font-size: 25px;
  background-position: 10px center;
  background-size: cover;
  width: 2.5vh;
  background-position: 50% 50%;
  color: #4ECCA3;
  ;
}

.songDivButtonActive {
  background-color: #415a77;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  border: none;
  font-size: 3.5vh;
  background-position: 10px center;
  background-size: cover;
  width: 10%;
  background-position: 50% 50%;
}

.songButtonH3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.songButtonDotsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #e0e1dd;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0.5vw; */
  height: 100%;
  /* width: 1.5vw; */
  font-size: 1em;
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.songDotsButtonDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.songEditCloseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #e0e1dd;
  font-size: 25px;
  border: none;
}

.albumButtonDotsButton {
  color: #e0e1dd;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  height: 2.5vh;
  width: 25%;
  background-color: #0d1b2a;
  color: #e0e1dd;
  font-size: 1.25em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* position: absolute; */
  right: 0;
}

.albumButtonCloseButton {
  background: none;
  color: #e0e1dd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34%;
  font-size: 1.25em;
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 75%;
}
.playButtonH1 {
  color: #e0e1dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstSlider {
  height: 15vh;
}

.secondSlider {
  height: 15vh;
}

.eachDivInCarousel::-webkit-scrollbar {
  display: none;
}

.albumImage {
  width: 90%;
  margin-left: 5%;
  height: 200px;
}

.deleteAlbumButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #e0e1dd;
  font-size: 25px;
  border: none;
}

.deleteSongButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #e0e1dd;
  font-size: 25px;
  border: none;
}

.albumSettingsDiv {
  height: 100%;
  top: 12.5%;
  /* position: relative; */
  width: 100%;
  background-color: white;
  background-color: white;
  background-color: #0d1b2a;
  left: 0;
  /* position: absolute; */
  display: flex;
  align-items: center;
  top: 15vh;
  /* left: 325px; */
}

.songSettingsDiv {
  height: 100%;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1%;
  position: relative;
}

.mainPageAlbums {
  display: inline;
}

.albumMessage {
  color: white;
}
.splashMessage {
  color: white;
}

.slick-list {
  /* background-color: white;
 display: flex;
 flex-direction: column;
 justify-content: center; */
 /* justify-content: space-between; */
}

.slick-arrow.slick-prev {
  /* z-index: 1;
  border-radius: 25%;
  color: black; */
  /* font-family: "FontAwesome";
  font-size: 55px; */
  position: absolute;
  left: 0;
}
.slick-prev:before {
  /* font-family: "FontAwesome";
  font-size: 25px; */
  /* background-color: black; */
}

.slick-next:before {
}
.slick-arrow.slick-next {
  /* z-index: 1; */
  /* border-radius: 25%; */
  /* font-size: 25px; */
  /* color: black; */
  position: absolute;
  right: 0;
}

.slick-slider.center.slick-initialized {
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  box-shadow: #4ECCA3 0px 20px 30px -10px;
padding-top: 100PX;

}

.mainAlbumsEachAlbumDiv {
  height: 15vh;
  width: 25px;
  justify-content: center;
  width: 100px;
}

.mainAlbumsEachAlbumDiv2 {
  height: 12.5vh;
  width: 25px;
  justify-content: center;
  background-color: black;
  width: 100%;
}
.mainAlbumsEachAlbumDivCarouselImage {
  position: absolute;
  height: 15vh;
  width: 10vw;
  object-fit: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.albumCarouselEachAlbumDiv {
  height: 15vh;
  width: 100%;
  /* box-shadow: #232931 0px 20px 30px 10px; */
  /* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
  /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
}

.albumCarouselTitle {
  height: 90%;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .85;
}

.albumCarouselTitle:hover {
  height: 90%;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.albumCarouselTitleTest {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 15%;
  background-color: #000;
  margin-left: 5%;
  overflow: hidden;
  color: #4ECCA3;
  text-decoration: none;
  margin-top: 1%;
  margin: 0;
  /* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */

}

.albumCarouselTitleTest.active {
  text-decoration: none;

}



.testSlider {
  /* height: 100vh; */
  /* background-color: black; */
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.mainAlbumsEachAlbumDivNavLink {
height: 90%;
width: 100%;
text-decoration: none;
opacity: .5;
}

.mainAlbumsEachAlbumDivNavLink.active {
  height: 100%;
  width: 100%;
  text-decoration: none;
  opacity: 1;
  }

  .mainAlbumsEachAlbumDivNavLink {
    height: 100%;
    width: 100%;
    text-decoration: none;
    opacity: 1;
    }

.mainAlbumsAndOtherAlbumsCarouselDiv {
  width: 100%;
}

.albumNameLink {
  width: 100%;
  height: 100%;
  height: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  text-decoration: none;
}
.albumNameLinkAlbum {
  width: 100%;
  height: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  text-decoration: none;
}


.carouselBackgroundImageDiv {
  position: absolute;
  bottom: 10vh;
  left: 0;
  /* top: 20vh; */
  width: 100%;
  height: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-position: center; */
  background-size: cover;
  text-decoration: none;
  object-fit: cover;
}

.albumNameLink:hover {
  width: 100%;
  height: 100%;
  height: 15vh;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.songImageInAlbum {
  height: 100%;
  width: 50%;
  min-width: 50px;
}

.albumMainPage {
  display: flex;
  /* gap: 2.5%; */
  background-color: white;
  /* height: 1000%; */
}

.sideBar {
  width: 270px;
  /* width: 15vw; */
  height: 100vh;
  background-color: #353535;
  background-color: #0d1b2a;
  background-color: #37465B;
  background-color: #000;
  opacity: .975;
  /* background-color: #37465B; */


}
.SideBarInner {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.albumSongListDivSearch {
  height: 2.5vh;
  display: flex;
  margin-bottom: 10px;
  width: 90%;
  background-color: black;
}

.searchLi {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 7.5%;
  width: 75%;
}

.searchLi:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 7.5%;
  width: 75%;
  opacity: .6;
}

.addLikedSong {
  height: 100%;
  background-color: pink;
  width: 33.33%;
  opacity: 0.5;
}

.songImageAndPlayButton {
  width: 5vw;
  display: flex;
}

.songTitleAndArtistDiv {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.albumCarouselAlbumTitle {
  background-color: #0d1b2a;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  color: #e0e1dd;
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.albumCarouselAlbumTitleLower {
  background-color: #0d1b2a;
  opacity: 0.8;
  font-size: 5em;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 10vh;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0e1dd;
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.albumPictureDiv {
  background-position: center;
  background-position: 10px center;
  background-size: cover;
  background-position: 50% 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 5%; */
  overflow: hidden;
}

.emptyPlaylistAddSongButton {
  width: 10vw;
  height: 10vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  /* align-items: center; */

}


.createSongEmptyAlbumModalButton {
  width: 15%;
  height: 5vh;
  font-size: larger;
  background-color: rgba(0,149,246,.3);
  background-color: #415a77;

  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  border-radius: 30px;
}

.createSongEmptyAlbumModalButton:hover {
  background-color: rgba(0,149,246);
  background-color: white;
  outline: 5px solid #415a77;
  color: #415a77;
}


.songNumberandPlayButton {
  display: flex;
  width: 50px;
}
