.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: 2em;
  color: #00ff3e;
  font-family: "Press Start 2P", cursive;
}

h1,h2 {
  color: white;
  margin: 0;
}

.albumSecondDiv {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* height: 30vh; */
}

.albumSongsListDiv {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  overflow-y: hidden;
  height: 90vh;
  width: 100%;
  /* padding-top:   2.5vh; */
}
.albumSongsListInnerDiv {
  margin-top: 7.5%;
  padding-left: 2.5vw;
  padding-right: 2.5vw;

  height: 47.5vh;
  overflow: scroll;
}
.albumSongsListInnerDiv::-webkit-scrollbar {
  display: none;
}

.albumSongsListDiv::-webkit-scrollbar {
  display: none;
}
.everySongDiv {
display: flex;
margin-bottom: 25px;
background-color: rgba(0, 0, 0, .2);
/* flex-direction: column; */
}
.everySongDiv::-webkit-scrollbar {
  display: none;

}
.songDivButton {
  /* background-color: white; */

  /* width: 250px; */
  background-color: #00ff3e;
}
.playButton {
  color: black;
}

.eachAlbumMainDiv {
  /* position: relative; */
  /* height: 10vh; */
  height: 100%;
  /* height: 15vh; */

  display: flex;
  /* margin-top: 2.5vh; */
}
.eachAlbumMainDivFirst {
  height: 100%;

}
.firstSlider {

  height: 15vh;
}

.secondSlider {
  height: 15vh;

}

.eachAlbumMainDiv2 {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.mainCarouselDiv {
  /* position: relative; */

  height: 30vh;

  width: 80%;
  display: flex;
  flex-direction: column;

  /* overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
    background-size: auto;
    background: linear-gradient(#724f31, #000000); */
}

.eachDivInCarousel::-webkit-scrollbar {
  display: none;
}

.albumImageNavLink {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 20%;
  background-color: white;
  bottom: 0;
  /* height: 20vh; */
  z-index: 99;
  color: white;
  position: absolute;
  width: 100%;

  /* margin-left: 10%; */
  height: 25%;
  background-color: blue;
  background-color: rgb(0, 208, 255);
  background-color: rgba(0, 0, 0, 0.95);

  font-weight: none;
  /* bottom: 0; */
  /* left: 75%; */
  bottom: 0;

  z-index: 100;
  font-size: 0.5em;
  font-family: "Press Start 2P", cursive;
  color: #00ff3e;
  /* padding: 5%; */
}

.albumNameLink {
  list-style: none;
  font-style: none;
  /* max-width: 0; */
  /* position: absolute; */
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 90%;
  margin-left: 5%;
  height: 100%;
  /* background-color: black; */
  z-index: 99999;

  margin: 0;
  padding: 0;
  color: #00ff3e;
  display: flex;
  align-items: center;
  font-size: 2.5em;
  /* top: 0; */
  /* left: 30%; */
}

.albumImage {
  width: 90%;
  margin-left: 5%;
  height: 200px;
  /* object-fit: cover; */
}
.albumImageSecondSlider {
  height: 15vh;
  object-fit: cover;
z-index: -1;

}
.albumImageSecondSliderNext {
  height: 15vh;
  object-fit: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.albumImageTopCarousel {
  /* margin-top: 2.5vh; */
  height: 15vh;
  height: 15vh;
  object-fit: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 22.5%;
  /* width: 50px; */
}

.albumUlDiv {
  /* height: 80%; */
}

.albumName {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  width: 75%;
  background-color: red;
  height: 5%;
  margin: 0;
}

.albumSongsDiv {
  /* outline: black solid 5px; */
  /* margin-top: 100px; */
  background-color: rgba(50, 80, 150, 0.9);
  height: 85vh;
  width: 50vw;
  margin-left: 10%;
  overflow-y: scroll;
  /* background-color: black; */

  /* outline: black solid 5px; */
}

.deleteAlbumButton {
  height: 5vh;
  background-color: rgb(173, 56, 56);
  right: 0;
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 5vw;
  color: white;
  font-size: 2em;
  z-index: 100;
}

/* .songsMainDiv {
  background-color: rgba(100, 50, 25, .8);
} */

.myAlbums {
}

.albumSongListDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: rgba(100, 50, 150, .8); */
  width: 10%;
  flex-direction: row-reverse;
  position: relative;
  /* background-secondcolor: black; */
  margin-right: 5%;
  /* height: fill; */
  /* min-width: 400px; */
}

.albumSongsMainDiv {
  display: block;
  /* margin-left: 1%; */
  /* display: block; */
  /* margin-bottom: 50px; */
  background-color: rgba(50, 80, 150, 0.9);
  background-color: rgba(0, 208, 255, 0.3);
  background-color: rgba(7, 158, 193, 0.6);
  background-color: black;
  /* outline: solid black 5px; */
  position: absolute;
  width: 50%;
  right: 0;
  height: 90%;
  z-index: 999;
}

.deleteSongButton2 {
  height: 30%;
  background-color: rgb(1, 196, 255);
  left: 0;
  position: absolute;
  width: 20%;
  color: white;
  font-size: 2em;
  z-index: 50;
  outline: solid black 5px;
}

.deleteSongButton2:onclick {
  background-color: black;
}

.createAlbumButton {
  padding: 0.4em 0.4em;
  color: white;
  border-radius: 0.35em;
  background-color: rgb(31, 211, 8);
  background-color: rgba(117, 235, 14, 0.995);

  font-size: 3vh;
  width: 33vw;
  width: 100%;
  height: 7.5vh;
  /* margin-left:250px; */
}



.albumButtonDotsButton {
  height: 25%;
  width: 25%;
  background-color: white;
  /* position: abo; */
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 1);
  color: #00ff3e;
  /* font-size: 2.5em; */
  font-size: 2em;
}

.albumSettingsDiv {
  height: 100%;
  width: 100%;
  background-color: white;
}

.mainPageAlbums {
  display: inline;
}

.albumMessage {
  color: white;
}
.splashMessage {
  color: white;
}


.firstSliderDiv {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  /* margin-top: 2.5vh; */
}
.slick-slider.center.slick-initialized {

}

.secondSliderDiv {
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.eachAlbumMainDivSecondCarousel {
  /* position: relative; */
}
.secondCaruselNavLink {
  position: absolute;
  top: 0;
  /* width: 100%; */
  /* height: 100%; */

}


.songImageInAlbum {
  height: 100%;
  width: 50px;
}

.albumMainPage {
  display: flex;
  height: 90vh;
}

.sideBar {
  width: 9.5%;
}

.albumSongListDivSearch {
  height: 5vh;
  display: flex;
}

.searchLi {

}
