


.welcome {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  width: 100%;
}
.albumsMainDiv {
  position: relative;
  background-color: black;
  /* height: 75vh; */

  /* outline: black solid 5px; */
  width:100%;
  position:absolute;
  left:0;
  height: 35%;

}
h1 {
  color: white;
}

.albumSecondDiv {

height: 30vh;


width: 100%;
display: flex;
justify-content: space-around;
background: linear-gradient(#724f31, #000000);

gap: 50%;

}

.albumSecondDiv::-webkit-scrollbar {
  display: none;
}

.songsMainDivAlbum {
  height: 50vh;
  margin-top: 10vh;
  border-top-left-radius: 10%;
  /* outline: 5px solid #00ff3e; */

margin-left: 11.5%;
  width: 88.5%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-image: url("../../../public/pics/mixtape.png"); */
    background-size: auto;
  /* flex-wrap: wrap; */
}

.songsMainDivAlbum::-webkit-scrollbar {
  display: none;
}
.albumSongsListDiv {
  background-color: rgba(255,255,255,.1);
  height: 70%;
  margin-left: 11.5%;
  top: 30%;
  position: absolute;
  outline: 5px solid #00ff3e;
  width: 88.5%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-image: url(../../../public/pics/mixtape.png); */
  background-size: auto;

}

.albumSongsListDiv::-webkit-scrollbar {
  display: none;
}

.eachAlbumMainDiv {
position: relative;
/* height: 100%; */


}

.eachAlbumMainDiv2 {

  position: relative;
  display: flex;
  justify-content: center;
  }


.eachDivInCarousel {

  height: 30%;


  width: 88.5%;
  /* overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
    background-size: auto;
    background: linear-gradient(#724f31, #000000); */

  }

  .eachDivInCarousel::-webkit-scrollbar {
    display: none;
  }

.albumImageNavLink {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 20%;
  background-color: white;
  bottom: 0;
  /* height: 20vh; */
  z-index: 99;
  color: white;
  position: absolute;
  width: 100%;

  /* margin-left: 10%; */
  height: 25%;
  background-color: blue;
  background-color: rgb(0, 208, 255);
 background-color: rgba(0, 0, 0, .95);


  font-weight: none;
  /* bottom: 0; */
  /* left: 75%; */
  bottom: 0;
  outline: solid black 5px;

  z-index: 100;
  font-size: .5em;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  /* padding: 5%; */
}

.albumNameLink {
  list-style: none;
  font-style: none;
  /* max-width: 0; */
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 90%;
  margin-left: 5%;
  height: 100%;
  background-color: black;
  z-index: 99999;

  margin: 0;
  padding: 0;
  color: #00ff3e;
  display: flex;
  align-items: center;
  font-size: 2.5em;
  /* top: 0; */
  /* left: 30%; */
}

.albumImage {
  width: 90%;
  margin-left: 5%;
  height: 200px;
  /* object-fit: cover; */
}

.albumImageTopCarousel {
  height: 15vh;
  /* width: 50px; */
}

.albumUlDiv {
  /* height: 80%; */
}

.albumName {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  width: 75%;
  background-color: red;
  height: 5%;
  margin: 0;
}

.albumSongsDiv {
  outline: black solid 5px;
  /* margin-top: 100px; */
background-color: rgba(50, 80, 150, .9);
height: 85vh;
width: 50vw;
margin-left: 10%;
overflow-y: scroll;
/* background-color: black; */

outline: black solid 5px;
}



.deleteAlbumButton {
  height: 5vh;
  background-color: rgb(173, 56, 56);
  right: 0;
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 5vw;
  color: white;
  font-size: 2em;
  z-index: 100;
  outline: solid black 5px;
}


/* .songsMainDiv {
  background-color: rgba(100, 50, 25, .8);
} */

.myAlbums {

}



.albumSongListDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: rgba(100, 50, 150, .8); */
  width: 10%;
  flex-direction: row-reverse;
  position: relative;
  /* background-color: black; */
  margin-right: 5%;
  /* height: fill; */
  /* min-width: 400px; */
}



.albumSongsMainDiv {
  display: block;
  /* margin-left: 1%; */
  /* display: block; */
  /* margin-bottom: 50px; */
  background-color: rgba(50, 80, 150, .9);
  background-color: rgba(0, 208, 255, 0.3);
  background-color: rgba(7, 158, 193, 0.6);
  background-color: black;
  /* outline: solid black 5px; */
  position:absolute;
  width:50%;
  right:0;
  height: 90%;
  z-index: 999;

}



.deleteSongButton2 {
  height: 30%;
    background-color: rgb(1, 196, 255);
    left: 0;
    position: absolute;
    width: 20%;
    color: white;
    font-size: 2em;
    z-index: 50;
    outline: solid black 5px;
}

.deleteSongButton2:onClick{
  background-color: black;
}

.createAlbumButton {
  padding: 0.4em 0.4em;
  color: white;
  border-radius: 0.35em;
  background-color: rgb(31, 211, 8);
  background-color: rgba(117, 235, 14, 0.995);

  font-size: 3vh;
  width: 33vw;
  width: 100%;
  height: 7.5vh;
  /* margin-left:250px; */
}

.slick-track {
  height: 17.5vh;
  width: 100%;
}

.slick-slider slick-initialized {
  display: flex;
  justify-content: center;

}

.slick-list {
  width: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slick-arrow.slick-next {
font-size: 3em;
height: 5vh;
}

.slick-arrow_slick-prev {
font-size: 3em;
}

.slick-slide.slick-active.slick-current {

}

.slick-slide.slick-active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  }

  .slick-slide.slick-active.slick-cloned {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .slick-arrow.slick-prev::before {
    /* background-color: white; */
    height: 5vh;

  }


  .audioPlayergg {

  }

  .songDivButton {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  background-size: 100% 100%;

  }

  .albumButtonDotsButton {
    height: 25%;
    width: 25%;
    background-color: white;
    /* position: abo; */
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 1);
    color: #00ff3e;
    /* font-size: 2.5em; */
    font-size: 2em;
  }


  .albumSettingsDiv {
    height: 100%;
    width: 100%;
    background-color: white;
  }


  .mainPageAlbums {
  display: inline;
  }


  .albumMessage {
    color: white;
  }
