.loginMainDiv {
display: flex;
justify-content: center;
height: 90%;
width: 100%;
}

.loginInnerMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 75%;
}


.profileButton {
  height: 2.5vh;
  width: 90%;
  color: #e0e1dd;
  font-size: 1em;
  background-color: #0d1b2a;
  border: none;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 7.5%;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 10vh;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 999;
  background-color: black;
  background-color: #0d1b2a;
  outline: 10px white solid;
  top: 40vh;
  left: 25vw;
  width: 50vw;
}

.userName {
  margin: 0;
}

.email {
  margin: 0;
}

.navDiv {
  width: 90.5%;
  margin-left: 9.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 208, 255, 0.797);
  background-color: rgba(7, 158, 193, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255.1, alpha);
}

.navUl {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.logoutButton {
  background-color: #415A78;
  color: #e0e1dd;
  font-size: 2em;
  width: 50vw;
}

.loginDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
}

.loginLeftDivSmaller {
  height: 80%;
  width: 75%;
}

.loginLeftSideDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;

}
.loginImage {
  height: 85%;
  width: 75%;
  padding-left: 25%;
  padding-top: 7.5%;
}

.profileDiv {
  /* background-image: url("../../../public/pics/HeardThatLogin.png"); */
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: 50% 50%;
}

.gitLinkedInDivs {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin-top: 5%;
  width: 15%;
  font-size: 2em;
  justify-content: space-around;
  width: 50%;
  /* height: 10vh; */
  /* background-color: white; */
}

.gitLinkedInDivsSplash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  width: 75%;
  width: 95%;
  padding: 2.5%;
  padding-bottom: 0;
  font-size: 3em;
  background-color: #415a77;
  /* height: 50%; */
  justify-content: space-around;

}

.formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.loginInputs {
  background-color: #fafafa;
  border: 1px solid #dddcdc;
  font-size: larger;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  width: 50%;
  height: 2.5vh;
  margin-bottom: 1vh;
}

.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;

}
.footer-content {

}




.userName {
  color: white;
}

.email {
  color: white;
}

.navRoute {
  color: white;
}

.loginMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  object-fit: cover;
  width: 100%;
  height: auto;
  height: 100vh;
  object-fit: cover;
  width: 50%;
  background-size: auto;
  /* background-image: url("../../../public/pics/HeardThatLogin.png"); */

}



.welcomeGreetingTop {
  color: white;
  font-size: 3em;
}

.splashMessage {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  background-size: contain cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}



.footer{
	background: #415a77;
	width: 100%;
	font: bold 3em;
	padding: 1%;
}


.footer-left{
	width: 40%;
}

.footer h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}



.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}


.footer-center{
	width: 35%;
}

.footer-center i{
	color: #e0e1dd;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-center p{
	display: inline-block;
	color: #e0e1dd;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer-center p a{
	color:  #e0e1dd;
	text-decoration: none;;
}

.footer .footer-links a:before {
  font-weight:300;
  font-size: 20px;
  color: #e0e1dd;
  display: inline-block;
  padding-right: 5px;
}

.footer-right{
	width: 20%;
}


.footer .footer-company-about{
	display: block;
	color:  #e0e1dd;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons a{
	font-size: 2em;
	color: #e0e1dd;
	text-align: center;
	line-height: 35px;
}

.footerName {
  height: 100%;
  display: flex;
  align-items: center;
}

.footerName span {
  color: black;
}
