.profileButton {
  height: 2.5vh;
  width: 90%;
  color: #e0e1dd;
  font-size: 1em;
  background-color: #0d1b2a;
  border: none;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 7.5%;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 10vh;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 999;
  background-color: black;
  background-color: #0d1b2a;
  outline: 10px white solid;
  top: 40vh;
  left: 25vw;
  width: 50vw;
}

.userName {
  margin: 0;
}

.email {
  margin: 0;
}

.navDiv {
  width: 90.5%;
  margin-left: 9.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 208, 255, 0.797);
  background-color: rgba(7, 158, 193, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255.1, alpha);
}

.navUl {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.logoutButton {
  background-color: #415A78;
  color: #e0e1dd;
  font-size: 2em;
  width: 50vw;
}

.loginDiv {
  background-color: black;
  background-image: url("../../../public/pics/loginTest.png");
  height: 100%;
  background-color: white;
}

.userName {
  color: white;
}

.email {
  color: white;
}

.navRoute {
  color: white;
}

.loginMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  object-fit: cover;
  width: 100%;
  height: auto;
  height: 100vh;
  object-fit: cover;
  width: 50%;
  background-size: auto;
}

.loginMessage {
  color: white;
}

.welcomeGreetingTop {
  color: white;
  font-size: 3em;
}

.splashMessage {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  background-size: contain cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
