@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.loginMainDiv {
display: flex;
justify-content: center;
height: 90%;
width: 100%;
background-color: #0d1b2a;
}

.loginInnerMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 75%;
}


.profileButton {
  height: 2.5vh;
  width: 90%;
  color: #e0e1dd;
  font-size: 1em;
  background-color: #0d1b2a;
  background-color: #37465B;
  background-color: #000;


  border: none;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 7.5%;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 10vh;
  width: 270px;
  padding: 0;
  bottom: 0;
  margin: 0;
  /* position: absolute; */
  background-color: black;
  background-color: #0d1b2a;
  z-index: 1;
  /* width: 100%; */
}

.userName {
  margin: 0;
}

.email {
  margin: 0;
}

.navDiv {
  width: 90.5%;
  margin-left: 9.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 208, 255, 0.797);
  background-color: rgba(7, 158, 193, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255.1, alpha);
}

.navUl {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.logoutButton {
  background-color: #415A78;
  color: #e0e1dd;
  font-size: 2em;
  width: 270px;
}

.loginDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
}

.loginLeftDivSmaller {
  height: 80%;
  width: 75%;
}

.loginLeftSideDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;

}
.loginImage {
  height: 85%;
  width: 75%;
  padding-left: 5%;
  padding-right: 5%;

  padding-top: 5%;
  padding-bottom: 5%;

  background-color: white;
}

.profileDiv {
  /* background-image: url("../../../public/pics/HeardThatLogin.png"); */
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: 50% 50%;
}

.gitLinkedInDivs {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin-top: 5%;
  width: 15%;
  font-size: 2em;
  justify-content: space-around;
  width: 50%;
  /* height: 10vh; */
  /* background-color: white; */
}

.gitLinkedInDivsSplash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  width: 75%;
  width: 95%;
  padding-bottom: 0;
  font-size: 25px;
  height: 25px;
  color: #415a77 ;
  justify-content: space-around;

}

.gitLinkedInDivsSplash svg {
  color: #e0e1dd;
}



.loginInputs {
  background-color: #fafafa;
  border: 1px solid #dddcdc;
  /* font-size: smaller; */
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  height: 2.5vh;
  /* margin-bottom: 1vh; */
}



.userName {
  color: white;
}

.email {
  color: white;
}

.navRoute {
  color: white;
}

.loginMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  object-fit: cover;
  width: 100%;
  height: auto;
  height: 100vh;
  object-fit: cover;
  width: 50%;
  background-size: auto;
  /* background-image: url("../../../public/pics/HeardThatLogin.png"); */

}



.welcomeGreetingTop {
  color: white;
  font-size: 3em;
}

.splashMessage {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  background-size: contain cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.footer {
  background: #415a77;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;

}


.footer-left{
	/* width: 40%; */
}

.footer h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}



.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}


.footer-center{
	/* width: 35%; */
  /* height: 10vh; */
}

.footerCell {
  height: 33%;
}

.footer-center i{
	color: #e0e1dd;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-center p{
	display: inline-block;
	color: #e0e1dd;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer-center p a{
	color:  #e0e1dd;
	text-decoration: none;;
}


.footer-right{
	width: 20%;
  display: flex;
  flex-direction: column;
  justify-content:   center;
}


.footer .footer-company-about{
	display: block;
	color:  #e0e1dd;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons a{
	font-size: 2em;
	color: #e0e1dd;
	text-align: center;
	line-height: 35px;
}

.footerName {
  height: 100%;
  display: flex;
  align-items: center;
}

.footerName span {
  color: black;
}
