.currentNavRoute {
  color: white;
  background-color: black;
  /* margin-right: 10%; */
  text-decoration: none;

}

.currentNavRoute {
  /* z-index: 99999; */
  /* padding: 0.4em 0.4em;
  color: white;
  border-radius: 0.35em; */
  /* font-size: 3vh; */
  /* width: 33vw; */
  /* height: 7.5vh; */
}

.navigationLinks {
  outline: 5px solid #00ff3e;
  display: flex;
  position: relative;
  gap: 2.5%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* justify-content: space-around; */
  text-decoration: none;
  z-index: 1;
  width: 11.5%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 9999;
  min-width: 200px;
  /* position: relative; */


}

.navRoute {
  text-decoration: none;
  font-size: xx-large;
  background-color: rgba(0, 110, 255, 0.521);
  padding-left: 2.75%;
  padding-right: 2.75%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 10%;


}

.navRoute.currentNavRoute {
  color: white;
  background-color: rgba(0, 110, 255, 1);

  /* margin-right: 10%; */
  text-decoration: none;

}

.navRouteButton {
  /* z-index: 9999; */
  width:10%;
  position: absolute;
  left: 0;
  /* left:30%; */
  /* bottom:20%; */
  bottom:10%;
  height: 2.5vh;
  border: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  /* background-color: #00ff3e; */
  font-size: .25em;
  background-color: rgba(0,0,0,.95);
  border-radius: 0;
  min-height: 37.5px;
  height: 10vh;
  /* margin-left:250px; */

  /* font: 200px; */
  font-size: 2em;
}

/* navRouteButton i {
  color: white;
  background-color: white;
} */

.navLinkButton {
  z-index: 999;
  /* color: white; */
  /* font-size: 57px; */

}


.globalAudioPlayer {
  position: absolute;
  /* bottom: 10%; */
  width: 100%;
  border: white solid 5px;
}

/* .globalAudioPlayer rhap_progress-section {
  border: 5px solid white;
  height: 100px;
}

.globalAudioPlayer.rhap_main.rhap_stacked {
  border: white solid 5px;
  background-color: pink;
} */

.homeNavLink {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  left: 30%;
  bottom: 20%;
  height: 2.5vh;
  outline: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  font-size: .5em;
  background-color: rgba(0,0,0,.95);
  border-radius: 0;
  min-height: 37.5px;
  text-decoration: none;
}

.navLinkUpper {
  height: 40%;
  display: flex;
  flex-direction: column;
  outline: 5px solid white;

}


.navigationLink {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  flex-direction: column;
}

.navAlbumNavLink {
  width: 100%;
  color: white;

}
