.navigationLinks {
  display: flex;
  gap: 2.5%;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 10%;
  background-color: black;
  height: 100%;
  width: 100%;
  background-color: #0d1b2a;
}

.navLinkUpper {
  height: 11vh;
  /* margin-bottom: 5%; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 250px;

}

.logoTopLeft {
  display: flex;
  width: 100%;
  color: #e0e1dd;
  font-size: 1em;
  margin-bottom: 5%;
  text-decoration: none;
}

.navUpperBottomLine {
  color: #e0e1dd;
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  border-bottom: white solid 2px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.navigationLink {
  width: 100%;
  min-height: 200px;
  margin-bottom: 50%;
  display: flex;
  margin: 0;
  flex-direction: column;
  /* padding-left: 2.5%; */

}

.navAlbumNavLink {
  width: 90%;
  height: 1.5vh;
  min-height: 10px;
  margin-bottom: 1%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 1em;
  color: #e0e1dd;
  /* color: #4ECCA3; */
padding-left: 5%;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navAlbumNavLink.active {
  /* width: 100%; */
  border-bottom: 2px solid #4ECCA3;
  padding-bottom: 10px;
  color: #4ECCA3;
  padding-left: 5%;

  /* height: 2.5vh; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 1em;
  /* color: #0d1b2a; */
  /* background-color: #e0e1dd; */
  /* display: flex; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sideBarSearchAndLinks {
  width: 100%;
}

.rhap_progress-indicator {
  background-color: #0d1b2a;
}

.rhap_progress-container {
  color: #e0e1dd;
  color: #4ECCA3;

  height: 1vh;
}

.rhap_progress-bar.rhap_progress-bar-show-download {
  background-color: #e0e1dd;
  color: #4ECCA3;

}

.rhap_progress-indicator {
  color: #4ECCA3;

}

.rhap_container.rhap_loop--off.rhap_play-status--playing.audioPlayer {
  height: 10vh;
  width: 100%;
  padding: 0px;
  background-color: #e0e1dd;
}
.rhap_container.rhap_loop--off.rhap_play-status--paused.audioPlayer {
  height: 10vh;
  width: 100%;
  padding: 0px;
  background-color: #e0e1dd;
}

.rhap_container.rhap_loop--on.rhap_play-status--playing.audioPlayer {
  height: 10vh;
  width: 100%;
  padding: 0px;
  background-color: #e0e1dd;
}

.rhap_container.rhap_loop--on.rhap_play-status--paused.audioPlayer {
  height: 10vh;
  width: 100%;
  padding: 0px;
  background-color: #e0e1dd;
}
.rhap_main.rhap_stacked {
  background-color: #415A77;
  background-color: #232931;
  /* background-color: #000; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  height: 10vh;
  width: 100%;
}
.rhap_button-clear.rhap_main-controls-button.rhap_play-pause-button {
  height: 7.5vh;
  width: 5.5vw;
  font-size: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0e1dd;
  color: #4ECCA3;

  margin-bottom: 1vh;
}

.rhap_main-controls {
  /* height: 10vh; */
  /* width: 9vw;
  height: 10vh;
  font-size: 1000px; */
}
.rhap_volume-container {
  margin-right:7px;
  z-index: -1;
  /* position: absolute; */
}

.rhap_button-clear.rhap_main-controls-button.rhap_rewind-button {
  z-index: -1;
}
.rhap_button-clear.rhap_main-controls-button.rhap_forward-button {
  z-index: -1;
}



.rhap_additional-controls {
  z-index: -1;
}

.albumNavLinkAndEdit {
  display: flex;
  justify-content: space-between;
  height: 2.5%;
  width: 100%;
}

.rhap_controls-section {
  margin: 0;
  margin-top: 0px;
  color: white;
  height: 5vh;
}

.rhap_progress-section {
  /* height: 2vh;
  position: relative;
  border-top: 5px solid #e0e1dd; */
}

.logoH1 {
  color: #e0e1dd;
  padding-left: 5%;
  padding-top: 2.5%;
  margin-bottom: 2.5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    padding-left: 12.5%;
  color: #4ECCA3;

}

.sideBarLower {
  /* padding-left: 7.5%; */
}

.socialLinks {
  bottom: 10vh;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 270px;
}

.prevNextButtonDiv {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.75em;
  background: none;
  background-position: 10px center;
  background-size: cover;
  width: 50%;
  background-position: 50% 50%; */
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.nextButton{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  /* left: 70vw; */
  right: 35%;
  font-size: 5vh;
  /* height: 5vh; */
  width: 5.5vw;
  border-radius: 25%;
  color: #4ECCA3;
  margin-bottom: 1vh;
  border: none;
  /* outline: line; */
  background: none;

}

.prevButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 35%;
  font-size: 5vh;
  /* height: 5vh; */
  width: 5.5vw;
  margin-bottom: 1vh;
  /* margin-right: 40%; */
  background: none;
  color: #e0e1dd;
  color: #4ECCA3;

  border: none;
}
