.searchBarMainDiv {
  /* height: 5vh; */
  /* height: 40vh; */
  overflow: hidden;
  /* height: 3.5vh; */
  /* height: 1000px; */
  /* border: none; */
  width: 100%;
  height: 40vh;
  outline: none;
}


.searchInput {
  height: 2.5vh;
  background-color: #0D1B2A;
  margin: 1%;
  width: 94%;
  /* margin-left: 0; */
  /* outline: 2px solid #E0E1DD; */
  border-right: 2px solid #E0E1DD;
  border-left: 2px solid #E0E1DD;

  color: #E0E1DD;
  outline: none;
  border: none;
  font-size: .5em;
  /* border: none; */

  /* width: 90%; */

  /* font-size: .325em; */
  font-family: 'Press Start 2P', cursive;
  /* margin-left: 37.5vw; */
}
.searchInput::placeholder {
  color: #E0E1DD;
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 5%;


}

.emptySearchTest {
  height: 100px;
  width: 100px;
  background-color: white;
}


.searchDivWithResults {
  height: 40vh;
  width: 100%;
  top:0;
  z-index:99;
  overflow-y: scroll;
  padding-top:1%;


}

.searchDivWithResults::-webkit-scrollbar {
  display: none;
}

.searchBarNavLink {
  display:flex;
  align-items:center;
  display:flex;
  justify-content:center;
  width:100%;
  height:fill;
  font-size: 1.25em;
  text-decoration: none;
  color: white;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
  background-color: black;
  margin-bottom: .5vh;
}

.eachSearchResultUserDiv {
  display: flex;
}

.test{
  color:white;
  font-size:em;

}


.songListDivSearchEmptyResult {

}

.emptySearchMessage {
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  color: #00ff3e;
font-size: .75em;
}
