.searchBarMainDiv {
  /* height: 5vh; */
  /* height: 40vh; */
  overflow: hidden;
  /* z-index: 9999; */
}


.searchInput {
  /* height: 2.5vh; */
  font-size:2.5em;
  width: 20vw;
  position: absolute;
  margin-left: 40vw;
  top:0;
  z-index:9999;
  background-color:white;
  outline: white 5px solid;
  /* margin-left: 37.5vw; */
}

.searchDivWithResults {
  height: 30vh;
  width: 20vw;
  position: absolute;
  margin-left: 40vw;
  top:0;
  z-index:99;
  margin-top:10vh;
  /* margin-left: 37.5vw; */

  overflow-y: scroll;
  /* margin-top: 26vh; */
  padding-top:1%;
  z-index: 999;

}

.searchDivWithResults::-webkit-scrollbar {
  display: none;
}

.searchBarNavLink {
  display:flex;
  align-items:center;
  display:flex;
  justify-content:center;
  width:100%;
  height:fill;
  font-size: 1.25em;
  text-decoration: none;
  color: white;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
  background-color: black;
  margin-bottom: .5vh;
}

.eachSearchResultUserDiv {
  display: flex;
}

.test{
  color:white;
  font-size:em;

}
