.songsMainDiv {
  height: 100px;
  border: black solid 5px;
  /* display: block; */
  /* margin-bottom: 50px; */
}

.songListDiv {
  /* height: 2200px; */
  display: flex;
  background-color: rgba(100, 50, 150, .8);
  flex-direction: row-reverse;
  border: black solid 5px;
  height: 25vh;
  /* width: %; */
  /* width: 75%; */
  /* margin-top: 50px; */
  position: relative;
}

.songImage {
height: 90%;
position:absolute;
/* height: 25vh; */
z-index: -1;
/* margin-bottom: 10%; */
}

.songUl {
  display: inline block;
  width: fill;
  padding-left: 0;
  margin: 0;
  position: absolute;
  bottom: 0
  /* position: absolute; */
  /* overflow: hidden; */
}

.songListItem {
  /* position:absolute; */
  /* position: relative; */
  z-index: 1;
  list-style: none;
  padding-left: 0;
  font-size: 1.5em;
  margin-left: 30%;
  position: relative;
  /* margin-bottom: 2.5%; */
  }

  .songDivTitle {
    margin: 0;
  }

  .songsDiv {
    outline: black solid 5px;
    margin-top: 100px;
  }


  .audioPlayer {
  outline: solid black 5px;
  position: absolute;
  bottom: 0;
  }

  .deleteSongButton {
    height: 50%;
    background-color: rgb(30, 210, 210);
    left: 0;
    position: absolute;
    width: 10%;
  }

  .updateSongButton {
    height: 50%;
    background-color: rgb(50, 1, 1);
    position: absolute;
    left: 10%;
    top: 0;
    width: 10%;
    color: white;
  }


  .audioPlayer {
    background-color: aquamarine;
    bottom: 0;
    position: absolute;
  }
