.songsMainDiv {
  /* height: 100px; */
  /* border: black solid 5px; */
  display: block;
  /* margin-left: 1%; */
  /* display: block; */
  /* margin-bottom: 50px; */
  background-color: rgba(50, 80, 150, .9);
  background-color: rgba(0, 208, 255, 0.3);
  background-color: rgba(7, 158, 193, 0.6);
  background-color: black;
  outline: solid black 5px;


  /* margin-bottom: 60px; */
  height: 100%;
}

.songListDiv {
  /* height: 2200px; */
  display: flex;
  background-color: rgba(100, 50, 150, .8);
  flex-direction: row-reverse;
  border: black solid 5px;
  height: 20%;
  min-height: 225px;
  /* width: %; */
  /* width: 75%; */
  /* margin-top: 50px; */
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-top: 2.5%;
  /* overflow: scroll; */
}

.songImage {
height: 60%;
/* width: 70%; */
position:absolute;
/* opacity: .3; */
/* height: 25vh; */
z-index: 1;
/* margin-bottom: 10%; */
}

.songUl {
  display: inline block;
  width: fill;
  padding-left: 0;
  /* margin: 0; */
  /* position: absolute; */
  position: relative;
  top: 0;
  height: 60%;
  margin: 0;
  left: 0;
  z-index: 2;
  /* outline: black solid 15px; */


  /* position: absolute; */
  /* overflow: hidden; */
}

.songListItem {
  /* position:absolute; */
  /* position: relative; */
  z-index: 1;
  list-style: none;
  padding-left: 0;
  font-size: 1.5em;
  margin-left: 20%;
  position: relative;
  /* margin-bottom: 2.5%; */
  color: white;
  font-size: 2em;
  }

  .songListItemUrl {
  margin-left: 20%;
  color: white;

  }

  .songDivTitle {
    margin: 0;
  }

  .songsDiv {
    outline: black solid 5px;
    /* margin-top: 100px; */
    background-color: rgba(0, 208, 255, .1);

  height: 85vh;
height: 75vh;

  width: 80%;
  margin-left: 10%;
  overflow-y: scroll;
  border-top-left-radius: 10%;

  }



  .deleteSongButton {
    height: 30%;
    background-color: rgb(255, 1, 1);
    left: 0;
    position: absolute;
    width: 20%;
    color: white;
    font-size: 2em;
    z-index: 50;
    outline: solid black 5px;


  }

  .updateSongModalButton {
    height: 30%;
    background-color: rgb(50, 1, 1);
    background-color: rgba(117, 235, 14, 0.995);
    position: absolute;
    top: 30%;
    left: 0;
    /* top: 0; */
    width: 20%;
    color: white;
    font-size: 2em;
    z-index: 50;
    outline: solid black 5px;


  }



  .loginModalButton {
    background-color: aqua;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 25%;
    color: white;
    font-size: 50px;
  }

  .signupFormButton {
    background-color: aqua;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20%;
    width: 25%;
    color: white;
    font-size: 50px;
  }


  .audioPlayer {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    /* background-color: rgba(50, 80, 150, .9); */
    /* margin-top: 50px; */
    bottom: 0;
    color: black;
    position: absolute;
    height: 40%;
    /* height: fit-content; */
    /* margin-left: 10%; */
    z-index: 10;
  }

  svg {
    /* position: absolute; */
    /* position: relative; */
    /* bottom: 0; */
  }


 .rhap_controls-section {
  background-color: black;
  /* margin-top: 0; */
  padding-right: 2.5%;
  padding-left: 2.5%;
  /* height: 50%; */
  margin-top: 0;
 }

 .rhap_controls-section button {
  /* background-color: black; */
  /* background-color: white; */
  /* margin-top: 0; */
  color: green;
  margin: 0;
  /* margin: ; */
  /* padding-right: 2.5%; */
  /* padding-left: 2.5%; */
 }

 .rhap_main.rhap_stacked {
  background-color: rgb(243, 235, 235);
  padding: 0;
  margin-top: 0;
  /* width: 100%; */
  outline: black solid 5px;
  background-color: black;
  /* z-index: 200; */

 }



 .rhap_container.rhap_loop--off.rhap_play-status--paused.audioPlayer {
   /* background-color: black; */
   padding-bottom: 0;
   padding: 0;
   outline: black solid 5px;
   background-color: black;
   color: black;
   z-index: 100;

 }

 .rhap_container.rhap_loop--off.rhap_play-status--playing.audioPlayer {
  padding-bottom: 0;
  padding: 0;
  outline: black solid 5px;
  background-color: black;
  color: black;
  z-index: 150;
 }

 .rhap_progress-section {
  /* outline: black solid 5px; */
  margin: 0;
  /* z-index: 200; */
  background-color: black;
  display: flex;
  justify-content: space-around;
 }

 .rhap_progress-container {
  background-color: black;
  display: flex;
 }

 .rhap_current-time {
   position: absolute;
   bottom: 0;
   left: 0;
 }

 .rhap_time.rhap_total-time {
   position: absolute;
   bottom: 0;
   right: 0;
 }


 .albumLink {
   z-index: 9999;
   color: white;
   margin-left: 0;
   color: black;
 }





 .welcome {
  margin: 0;
 }
