.songsMainDiv {
  height: 100px;
  border: black solid 5px;
}

.songListDiv {
  /* height: 2200px; */
  display: flex;
  flex-direction: row;
  border: black solid 5px;
  height: 25vh;
  /* width: 75%; */
}

.songImage {
height: fill;
position:absolute;
height: 25vh;
z-index: -1;
}

.songUl {
  width: fill;
  padding-left: 0;
}

.songListItem {
  /* position:absolute; */
  z-index: 1;
  list-style: none;
  padding-left: 0;
  font-size: 1.5em;
  margin-left: 50%;
  }
