.loginForm {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 275px;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 500;
  border-radius: 10%;
  background-color: black;
}

.loginForm input {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  font-size: 17px;
}

.loginForm label {
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
}


.loginForm button {
  display: flex;
  justify-content: center;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
}

.demoButton {
  /* background-image: url("../../../public/pics/loginTest.png"); */
  background-color: rgba(117, 235, 14, 0.995);

  color: white;
  /* height: 5vh; */
  font-size: 2em;
  border-radius: 10%;
}

.loginFormDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  border: solid rgb(182, 179, 179) 1px;
  height: 50%;
  padding: 1%;
  border-radius: 30px;
  margin-bottom: 2.5%;
  /* width: 30%; */

}

.createSongFormDiv {
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
}

.createAlbumFormDiv {
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
}

.formDiv {
  display: flex;
  border-radius: 50%;
  width: 90%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  /* width: 15vw; */
  /* height: 20vh; */
}

.formDivAlbum {
  display: flex;
  border-radius: 50%;
  flex-direction: column;
  justify-content: space-around;
}

.createSongInput {
  background-color: #fafafa;
  border: 1px solid #dddcdc;
  font-size: larger;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 2.5vh;
  margin-bottom: 1vh;
}

.createSongTitle {
  margin: 0;
  margin: 0;
margin-top: 0;
/* height: 5vh; */
display: flex;
justify-content: center;
align-items: center;
font-size: 2em;
color: #415a77;
}

.loginButtons{
  width: 100%;
  height: 2.5vh;
  font-size: 1.25em;
  background-color: rgba(0,149,246,.3);
  background-color: #415a77;

  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  border-radius: 300px;
}

.loginButtons:hover{
  background-color: rgba(0,149,246);
  background-color: white;
  outline: 5px solid #415a77;
  color: #415a77;
}

.signupModalButton {
  width: 75%;
  height: 2.5vh;
  font-size: 1.5em;
  background-color: rgba(0,149,246,.3);
  background-color: #415a77;

  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  border-radius: 300px;

}
.signupModalButton:hover{
  background-color: rgba(0,149,246);
  background-color: white;
  outline: 5px solid #415a77;
  color: #415a77;
}
.loginFormDiv label {
  color: white;
}

.loginFormNormalButton {
  height: 2.5vh;
  width:90%;
  color: #E0E1DD;
  font-size: 1em;
  background-color: #0D1B2A;
  border: none;
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 7.5%;

}

.signUpOption {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  border: solid rgb(182, 179, 179) 1px;
  height: 12.5%;
  padding: 1%;
  border-radius: 30px;
  align-items: center;
  width: 30%;
  border-radius: 15px;
}

.rightDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  height: 75%;
  width: 75%;
}

.loginTitle {
margin: 0;
margin-top: 0;
height: 5vh;
display: flex;
justify-content: center;
align-items: center;
font-size: 3em;
color: #415a77;
margin-bottom: 0;
}
