@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.createAlbumModalButton {
  height: 2.5vh;
  width:90%;
  color: #E0E1DD;
  font-size: 1em;
  background-color: #0D1B2A;
  border: none;
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 7.5%;


}

.createAlbumButton {
  display: flex;

  padding: 0.4em 0.4em;
  /* color: white; */
  color: #E0E1DD;

  border-radius: 0.35em;
  background-color: rgb(31, 211, 8);
  background-color: rgba(117, 235, 14, 0.995);
  background-color: #1b263b;


  font-size: 2em;
  width: 33vw;
  /* padding-left: 12.5%; */

}

.createNewSongDiv {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 275px;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 500;
  border-radius: 10%;
  background-color: black; */
}

.createNewAlbumForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 275px;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 500;
  border-radius: 10%;
  background-color: black;
}

.createNewAlbumForm button {
  padding: 0.4em 0.4em;
  color: white;
  border-radius: 0.35em;
  background-color: rgb(31, 211, 8);
  background-color: rgba(117, 235, 14, 0.995);

  font-size: 2em;
  width: 33vw;
  width: 100%;
}
