.updateAlbumModalButton {
  height: 12.5vh;
  background-color: rgb(56, 173, 66);
  left: 0;
  position: absolute;
  bottom: 0;
  width: 40%;
  color: white;
  font-size: 2em;
  z-index: 100;
  outline: solid black 5px;
}
