.updateAlbumModalButton {
  height: 112.5px;
  height: 12.5vh;

  background-color: rgb(50, 1, 1);
  background-color: rgba(117, 235, 14, 0.995);
  position: absolute;
  /* top: 112.5px; */
  bottom: 0;
  left: 0;
  /* top: 0; */
  width: 20%;
  width: 40%;

  color: white;
  font-size: 2em;
  z-index: 50;
  outline: solid black 5px;
  margin-bottom: 3.5vh;
}
