.updateAlbumModalButton {
  height: 9.125vh;
  background-color: rgb(56, 173, 66);
  left: 0;
  position: absolute;
  top: 0;
  width: 30%;
  color: white;
  font-size: 2em;
  z-index: 100;
  outline: solid black 5px;
}
