/* TODO Add site wide styles */
body {
  /* padding: 0; */
  margin: 0;
  /* width: 100%; */
  height: 100%;
}

html {
  background-color: rgba(0, 0, 0, .95);
  background-color: black;
  background: linear-gradient(#0D1B2A, #1B263B, #415A77, #778DA9, #E0E1DD, #778DA9, #415A77, #1B263B, #0D1B2A);
  background: linear-gradient(#E0E1DD, #778DA9, #415A77, #1B263B, #0D1B2A);
  background: linear-gradient(#0D1B2A, #778DA9, #415A77, #778DA9, #0D1B2A);
  background: linear-gradient(#778DA9, #1B263B);
  /* background-color: #E0E1DD; */
height: 100%;

overflow: hidden;

  /* background: #778DA9 */



  /* width: 100%; */
  /* margin: 0; */
  /* margin-right: 0; */
  /* height: 100%; */
   /* margin: 0; */
  /* background-image: url("/frontend/public/pics/albums.png"); */

}


li {
  color: white;
}

#root {
  height: 100%;
}
