body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

html {
  /* background-color: #415a77; */
  /* background-color: black; */
  height: 100%;
  overflow: hidden;
}

li {
  color: white;
}

#root {
  height: 100%;
  overflow: hidden;
}
