.profileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  background-color: rgb(0, 208, 255);
  padding: 2.5%;
  outline: solid black 5px;
  bottom: 0;
  height: 10vh;
  font-size: 57px;
  color: white;
  width: 10vw;
  z-index: 1;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  /* background-color: black(0, 0, 0); */
  /* top: 10vh; */
  /* top: 0; */
  bottom: 0;
  /* left: 7.5%; */
  /* width: 20%; */

  height: 12.5%;
  /* width: 85vw; */
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 999;
  background-color: black;
  outline: 10px white solid;
  /* overflow: scroll; */
  /* text-align: center; */

  left: 25%;
  width: 50%;
}

.userName {
  margin: 0;
}

.email {
  margin: 0;
}

.navDiv {
  /* position: relative; */
  /* height: 5vh; */
  width: 100%;
  /* min-height: 50px; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  /* background-color: black; */
  /* border: solid black 5px; */
  background-color: rgba(0, 208, 255, 0.797);
  background-color: rgba(7, 158, 193, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  background-color: black;
}

.navUl {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* .navLi {
  margin-left: 0;
} */

.logoutButton {
 /* background-image: url("../../../public/pics/loginTest.png"); */
 background-color: rgba(117, 235, 14, 0.995);

 color: white;
 /* height: 5vh; */
 font-size: 2em;
 /* padding-left: 5%; */
 /* margin-top: 10%; */
 width: 50vw;
}


.loginDiv {
  background-color: black;
  background-image: url("../../../public/pics/loginTest.png");
  height: 100%;
  background-color: white;
}

.userName {
  color: white;
}

.email {
  color: white;
}

.navRoute {
  color: white;
}

.loginMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vw;
  /* height: 100vh; */
  object-fit: cover;
  width: 100%;
  height: auto;
  height: 100vh;
  /* opacity: 0.6; */
  object-fit: cover;
  width: 50%;
  /* height: 100px; */
  background-size: auto;
}

.loginMessage {
  color: white;
}

.welcomeGreetingTop {
  color: white;
  margin-top: 10%;
}

.splashMessage {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  /* width: 400px; */
  background-image: url("../../../public/pics/deadBears.png");
  background-size: contain cover;
  width: 100%;
  /* width: 1000px; */

height: 100vh;
position: absolute;
z-index: -1;
}
